@import "variables-mixins.less";

body {
    margin: 0;
    padding: 0;
    font: 14px/18px "Times New Roman", sans-serif;
}

section {
    min-height: 820px;
    min-width: 540px;
    background: url(../img/bg.jpg) no-repeat;
    .background-size(cover);
    padding-top: 200px;
    & .main {
        &:nth-child(3){
            margin-top:75px;
        }
        &_title {
            font: 32px/32px "Roboto", sans-serif;
            color: white;
            background-color: rgba(10, 11, 16, .48);
            padding: 40px;
            text-align: center;
            margin: 0;
            margin-top: -14px;
            & b {
                font: 32px/32px "Roboto Regular", sans-serif;
                font-weight: 300;
            }
        }
        &_subtitle {
            color: white;
            font: 40px/40px "Roboto Regular", sans-serif;
            font-weight: 300;
            margin: 20px 0;
            & span {
                font: 30px/30px "Roboto Regular", sans-serif;
                text-transform: uppercase;
                margin-top: 35px;
                display: block;
            }
        }
        &_descr {
            font: 30px/30px "Roboto Regular", sans-serif;
            color: white;
            font-weight: 200;
            &.normal {
                font: 26px/26px "Roboto", sans-serif;
                font-weight: 100 !important;
            }
        }
        & .events {
            padding: 0 10px;
            margin: 25px 0;
            &_city {
                color: #dd961f;
            }
            & a {
                color: white;
                font: 20px/20px "Roboto Light", sans-serif;
                text-decoration: none;
                border: 1px solid rgba(255, 255, 255, 0.18);
                padding: 15px 25px;
                border-radius: 8px;
                &:hover{
                    background-color:rgba(255, 255, 255, 0.19)
                }
            }
        }
    }
}

.col {
    padding: 0;
}

header {
    min-height: 185px;
    min-width: 540px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 11, 16, 0.48);
    padding-bottom: 15px;
    & .logo {
        margin: 25px 18px;
    }

    & a {
        color: white;
        text-decoration: none;
        font: 22px/22px @roboto-light;
        font-weight: 100;
        & b{
            font-weight:bold;
        }
        &:hover {
            color: white;
            text-shadow: 1px 1px 1px #fff;
        }
        &.contacts_mail:before,
        &.contacts_phone:before {
            width: 20px;
            height: auto;
            padding-right: 10px;
        }
        &.contacts_mail {
            margin-right: 80px;
            margin-bottom: 20px;
            &:before {
                content: url(../img/icon-mail.png);
            }
        }
        &.contacts_phone {
            margin-bottom: 20px;
            &:before {
                content: url(../img/icon-phone.png);
            }
        }
    }

    & .header_menu {
        display: flex;
        list-style: none;
        & a {
            color: white;
            text-decoration: none;
            font: 17px/17px @roboto-regular;
            padding: 11.5px 25px;
            background-color: #2c3b59;
            border-radius: 8px;
            &:hover{
                background-color:#4464a5;
                text-shadow:none;
            }
        }
    }
}

@media all and (max-width:991px) {
    .header_menu {
        & .col {
            margin: 0 10px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-top: 20px;
            }
        }
    }

    section {
        padding-top: 300px;
        background-position: center;
        & .main {
            &_title {
                margin-top: -12px;
            }
        }
    }
}