@full-height:100%;
@font: Arial, sans-serif;
@roboto: "Roboto", sans-serif;
@roboto-light: "Roboto Light", sans-serif;
@roboto-regular: "Roboto Regular", sans-serif;

.background-size(@size){
	-webkit-background-size: @size;
	-moz-background-size: @size;
	-o-background-size: @size;
	background-size: @size;
}

.border-radius(@radius){
	-webkit-background-size: @radius;
	-moz-background-size: @radius;
	-o-background-size: @radius;
	background-size: @radius;
}